* {
    box-sizing: border-box;
}

/* Essentially, none of my CSS is working properly and I'm not sure why. I've tried different naming conventions and approaches, but am out of luck.*/

.navbar {
    font-family: 'Abril Fatface', serif !important;
    width: 100%;
}

.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
    background-color: black;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(201, 240, 245, 0.5); /* Black background with opacity */
}

.float-container {
    border: 3px solid #fff;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
}  

.guitar-1 {
    border-radius: 50%;
}

img.guitar-1 {
    border-radius: 50%;
}

img.little-kid-lesson {
    border-radius: 50%;
}

.div-1 div {
    background-image: url("img/piano\ boy\ &\ girl\ bg.png");
    opacity: 0.5;
}
div.div-2 {
    background-image: url("img/guitar-2.png");
    opacity: 0.5;
}

div.div-3 {
    background-image: url("img/Microphone-purple.JPG");
    opacity: 0.5;
}

body {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
}

h1 {
    font-family: var(--heading-font-family);
    font-size: 30px;
    font-weight: var(--heading-font-weight);
}

h2 {
    font-family: var(--heading-font-family);
    font-size: 24px;
    font-weight: var(--heading-font-weight);
}

h3 {
    font-family: var(--heading-font-family);
    font-size: 18px;
    font-weight: var(--heading-font-weight);
}