* {
    box-sizing: border-box;
}

/* Button element polishing */
button {
    border: none;
    padding: 12px 10px !important;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px !important;
    font-weight: bold;
    cursor: pointer;
}

/* MAIN SECTION CSS */
.main-grid-container {
    display: grid;
    grid-template: repeat(auto-fit, minmax(64px,1fr)) / 1fr;
    width: 100%;
    align-items: center;
}

.section-grid {
    display: grid;
    position: relative;
    grid-template-rows: minmax(480px,1fr);
    grid-template-columns: 1fr 10fr 1fr;
    width: 100%;
    overflow: hidden;
    align-items: center;
}

.section-content {
    z-index: 2;
}

@-ms-viewport{
    width: device-width;
}

/* General Styling */
h1 {
    font-family: 'Oleo Script', cursive;
}

h2, h3, h4, h5, h6 {
    font-family: 'Overlock', cursive;
}

body, p, a, button {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0px;
}

.grow { 
    transition: all .2s ease-in-out; 
    }
    
.grow:hover { 
    transform: scale(1.1); 
}

/* Background Image */
.background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
.background img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

/* NAVIGATION CSS */
.header-grid {
    display: grid;
    grid-template-rows: 64px;
    grid-template-columns: 1fr 8fr 3fr;
    column-gap: 5px;
    background-color: rgb(0, 0, 0);
    align-items: center;
    position: relative;
    padding-right: 5px;
}

@media (max-width:720px) {

    .header-grid {
        grid-template-columns: 1fr;
        justify-items: center;
    }

}

.header-grid a {
    color: white;
    padding: 16px;
    text-decoration: none;
    text-align: center;
    font-family: 'Overlock', cursive;
}

.header-grid .header2 a:hover {
    background-color: rgb(168, 234, 250);
    color: black;
}

.header3 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr minmax(200px,1fr);
    align-items: center;
}

img.logo {
    width: auto;
    height: 100%;
    max-height: 64px;
}

.trial-btn {
    background-color: rgb(168, 69, 190);
    text-decoration: rgb(0, 0, 0);
    color: white;
    padding: 5px;
    margin: 5px;
    font-family: 'Overlock', cursive;
    font-size: medium;
}

.trial-btn:hover {
    background-color: rgb(168, 234, 250);
    color: black;
}

/* SECTION 1 CSS */
.section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    z-index: 1;
    padding-top: 20px;
    padding-bottom: 50px;
}

@media (max-width: 1000px) {
    .section1 {
      display: flex;
      flex-direction: column;
      grid-template-rows: 1fr 1fr;
      width: 100%;/* tried adding this to help with the need to zoom-out slightly on cell phones */
    }
}

img.canva-logo {
    width: 100%;
    display: block;
    padding: 20px;
}

/* img.canva-logo {
    animation-name: thrive;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

@keyframes thrive {
    0% {
        transform: translateX(-900px);
      }
      100% {
        transform: translateX(0);
      }
    }
} */

.section1-text {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    width: fit-content;
    box-shadow: 5px 5px 5px rgba(24, 25, 26, 0.452);
}

.section1-btn {
    background-color: rgb(168, 234, 250);
    color: black;
    padding: 5px;
    font-family: 'Overlock', cursive;
    font-size: medium;
    margin: 5px;
}

.section1-btn:hover {
    background-color: rgb(168, 69, 190);
    color: white;
}

@keyframes FadeInOut {
    0% {
        opacity:1;
    }
    45% {
        opacity:1;
    }
    55% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
  
#background img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
  
#background img.top {
    animation-name: FadeInOut;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 7.5s;
    animation-direction: alternate;
}

/* SECTION 2 CSS */
.section2 {
    align-items: center;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20px;
    padding-top: 15px;
    column-gap: 20px;
}


@media (max-width: 930px) {
    .section2 {
      display: flex;
      flex-direction: column;
      grid-template-rows: 1fr 1fr;
      width: 100%;
    }
}

img.Boy-Girl-piano {
    height: auto;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: block;
    padding: 10px 0;
    width: 100%;
    border-radius: 25%;
}

/* SECTION 3 CSS */
.section3 {
    align-content: center;
    z-index: 1;
}

img.guitar-1 {
    border-radius: 50%;
}

img.little-kid-lesson {
    border-radius: 50%;
}

img.dance-party {
    border-radius: 50%;
}

.how-we-do-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;
    margin: 0;
    justify-items: center;
}

@media (max-width: 700px) {
    .how-we-do-grid {
      display: flex;
      flex-direction: column;
      grid-template-rows: 1fr 1fr 1fr;
      grid-gap: 30px;
      width: 100%
    }
}

.how-we-do-grid .grid__item {
    display: inline-block;
    text-align: center;
    align-content: center;
    min-height: auto;
    margin: 0;
} 

.prpl-bg {
    background-color: rgb(75, 14, 94);
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

/* Round Images  */
.round-image {
    width: 180px;
    margin: auto;
    border-radius: 100%;
    overflow: hidden;
    height: 180px;
    padding-top: 10px;
}
.round-image img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

/* SECTION 4 CSS */
.section4 {
    align-content: center;
    z-index: 1;
    padding-top: 20px;
}

.black-bg {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding-bottom: 20px;
}

.section4-choice-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    align-items: center;
    grid-gap: 5px;
    margin: 0;
}

@media (max-width: 700px) {
    .section4-choice-grid {
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      width: 100%;
    }
}

.section4-choice-grid .grid__item {
    display: inline-block;
    text-align: center;
    align-content: center;
    min-height: auto;
    margin: 0;
} 

.sign-up-btn {
    background-color: rgb(168, 234, 250);
    color: black;
    padding: 10px;
    font-size: large;
    font-weight: bold;
    font-family: 'Overlock', cursive;
}

.sign-up-btn:hover {
    background-color: rgb(168, 69, 190);
    color: white;
}

.journey-btn {
    background-color: rgb(168, 234, 250);
    color: black;
    width: 130px;
    height: 130px;
    font-size: large;
    font-weight: bold;
    font-family: 'Overlock', cursive;
    border-radius: 50%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    text-decoration: none;
}

.journey-btn:hover {
    background-color: rgb(168, 69, 190);
    color: white;
}

.section4-journey-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
    justify-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.section4-journey-grid .grid__item {
    display: inline-block;
    text-align: center;
    align-content: center;
    min-height: auto;
    margin: 0;
} 

/* SECTION 5 CSS */
.section5 {
    align-content: center;
    z-index: 1;
}

img.Lisa {
    border-radius: 50%;
    width: 60%;
    z-index: 2;
}

.blog-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 5px;
    margin: auto;
    padding-bottom: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
}

@media (max-width: 930px) {
    .blog-grid {
        flex-direction: column;
        grid-template-rows: 0.5fr 1fr;
        grid-template-columns: 1fr;
        padding-top: 0px;
        width: 100%;
    }

    .blog-content.blog1 {
        margin-top: 0px;
        margin-bottom: 0px; /* tried fixing weird spacing issues with small screen. Huge margin I can't remove */
    }

    .blog-content.blog2 {
        margin-top: 0px;
        margin-bottom: 0px; /* tried fixing weird spacing issues with small screen. Huge margin I can't remove */
    }
}

.blog-content h1 {
    margin-bottom: 0px;
}

.blog-grid .blog-content {
    display: inline-block;
    text-align: left;
    justify-content: center;
    align-items: center;
    width: auto;
    min-height: auto;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.blog-content.blog1 {
    margin: 0px;
    height: fit-content;
    width: auto;
}

/* SECTION 6 CSS */
.section6 {
    align-content: center;
    text-align: center;
    z-index: 1;
    color: white;
    padding-bottom: 10px;
}

.testimonial-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto;
    grid-gap: 10px;
    justify-content: space-evenly;
    padding-bottom: 10px;;
}

@media (max-width: 700px) {
    .testimonial-grid {
      display: flex;
      flex-direction: column;
      grid-template-rows: 1fr 1fr 1fr;
      width: 100%;
    }
}

.testimonial-grid .grid__item {
    display: inline-block;
    text-align: center;
    align-content: center;
    min-height: auto;
    margin: auto;
    height: 100%;
    width: auto;
    background-color: rgb(58 9 85 / 75%);
}
.testimonial-grid .grid__item {
    display: inline-block;
    text-align: center;
    align-content: center;
    min-height: auto;
    margin: auto;
    height: 100%;
    width: auto;
    background-color: rgba(0,0,0,0.5);
    padding: 12px;
    box-shadow: 0 0 6px rgba(0,0,0,0.5);
}

/* FOOTER CSS */
footer.section-grid {
    background-color: black;
    color: white;
    align-content: center;
    z-index: 1;
    grid-template-rows: minmax(360px,1fr);
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin: auto;
    position: relative;
    grid-gap: 10px;
}

@media (max-width: 930px) {
    .footer-grid {
      display: flex;
      flex-direction: column;
      grid-template-rows: 1fr 1fr 1fr;
      width: 100%;
    }
}

.footer .grid__item {
    display: inline-block;
    min-height: auto;
    margin: 0;
    align-items: center;
    padding-bottom: 10px;
} 

h1.connect {
    margin-bottom: 0px;
}

img.Laura-logo {
    height: 150px;
    padding-bottom: 20px;
}

.icon-attribute {
    font-size: small;
}

.map {
    width: 90%;
    height: auto;
}